# Python build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/

# Secrets and local configurations
config/local.yml
*.csv
*.xlsx
credentials.json
app.toml

# IDE and OS-specific
.idea/
.vscode/
.DS_Store

# Claude
CLAUDE.md
# Streamlit secrets
.streamlit/secrets.toml
